# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../behave-webdriver-api\.idea/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/geckodriver.log
.idea/
/behave-webdriver-api.iml